@use "../mixins" as *;
@use "../media" as *;

.Reviews__Conteiner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.client__Reviews {
  padding-top: var(--section-padding-y);
  &-title {
    @include flex-center(true);
    column-gap: 10px;
    margin-bottom: 45px;
  }
  &-lineTitle {
    @include line-title;
  }

  &-content {
    width: 600px;
    height: 235px;
    background-color: var(--color-light-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 10px;
  }

  &-textContainer {
    display: flex;
    column-gap: 20px;
  }
  &-Avatar {
    max-width: 30%;
    max-height: 215px;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &-starsContainer {
    display: flex;
    column-gap: 10px;
  }
}

.client__Reviews-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
.client__Reviews-textContainer-title {
  font-family: var(--font-family-alt);
  font-size: 16px;
}
.reviews__prevButton {
  @include reviewsButton(right, 0%);
  inset-block: 50%;
  transform: translateY(-50%);

  @include hover {
    background: var(--color-light-gray-alt);
    color: var(--color-dark);
    box-shadow: 0 0 10px 5px var(--color-light-gray-alt);
  }

  &:disabled {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--color-gray);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.reviews__nextButton {
  @include reviewsButton(left, 0%);
  inset-block: 50%;
  transform: translateY(-50%);

  @include hover {
    background: var(--color-light-gray-alt);
    color: var(--color-dark);
    box-shadow: 0 0 10px 5px var(--color-light-gray-alt);
  }

  &:disabled {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--color-gray);
    cursor: not-allowed;

    pointer-events: none;
  }
}
