@use "../mixins" as *;

.mainSection__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../../assets/img/Mask_Group.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &-messenger {
    @include flex-center(true);
    width: 20%;
    height: 750px;
    background-color: rgba(65, 65, 65, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 0;
  }
  &-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  &-content {
    @include flex-center(true);
    width: 80%;
    height: 750px;
  }
}

.mainSection__blurBox {
  background: linear-gradient(
    135.62deg,
    rgba(207, 207, 207, 0.26) 0%,
    rgba(207, 207, 207, 0.06) 92.495%
  );
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 2rem 3rem;
  text-align: center;
  width: 100%;

  &-content h1 {
    display: flex;
    @include flex-center(true);
    color: var(--color-black);
    font-family: var(--font-family-head);
    width: 60%;
  }
  &-content p {
    color: var(--color-light);
  }
}

.viewsSection__container {
  display: flex;
  flex-direction: row;

  height: 150px;
  &-zero {
    width: 20%;
    margin-top: -50px;
    background-color: black;
    z-index: 1;
  }
  &-list {
    display: flex;
    padding-left: 70px;
    width: 80%;
  }
  &-stats {
    background: white;
    @include flex-center(true);
    column-gap: 50px;
    padding: 2rem 1rem;
    text-align: center;
  }
}
